Code/
GitKraken/
Slack/
cef_user_data/
chromium/
dconf/
eog/
gconf/
gnome-control-center/
gnome-dictionary/
gnome-session/
goa-1.0/
google-chrome/
gtk-2.0/
gtk-3.0/
leafpad/
konsolerc
libreoffice/
matplotlib/
menus/
mimeapps.list
nautilus/
opera/
pulse/
wireshark/
MonoGame/
Trolltech.conf
cava
epiphany/
evince/
evolution/
git/
pavucontrol.ini
rtv/
systemsettingsrc
teamviewer/
unity3d/
configstore/
defaultKeyMap
user
user-dirs.dirs
user-dirs.locale
